<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li >
                <a ui-sref-active="active" ui-sref="home">Home</a>
            </li>
            <li >
                <a ui-sref-active="active" ng-click='newGame()'>Play Again</a>
            </li>
            <li >
                <a ui-sref-active="active" ng-click='nextLevel()'>Next Level</a>
            </li>
        </ul>

    </div>
</nav>
